{% extends 'base.html' %}
{% load static %}
{% block title %} Organization  Enfants -Mères{% endblock  %}
{% block content %}
    
    
    
    
    


    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full text-center">
              <thead class="border-b bg-white">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2">
                    Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2">
                    Email
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2">
                    Balance
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-2">
                    Handle
                  </th>
                </tr>
              </thead class="border-b">
              <tbody>

                {% if user.is_authenticated %}
                <tr class="bg-white border-b">
                  <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                    {{user.user_name}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                    {{user.money}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                    <button type="button" class="px-6
py-2.5
bg-blue-600
text-white
font-medium
text-xs
leading-tight
uppercase
rounded
shadow-md
hover:bg-blue-700 hover:shadow-lg
focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
active:bg-blue-800 active:shadow-lg
transition
duration-150
ease-in-out" data-bs-toggle="modal" data-bs-target="#exampleModal">
Send Money to another user
</button>

                  </td>
                </tr class="bg-white border-b">
                <tr class="bg-white border-b">
                
                <tr class="bg-white border-b">
                  
                  <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap text-center">
                    
                    
                    
                    {% if messages %}
                    {% for message in messages %}
                    <div class="bg-indigo-100 rounded-lg py-5 px-6 mb-4 text-base text-indigo-700 mb-3" role="alert">
                      {{ message }}  
                    </div>
                   
                    {% endfor %}
                    {% else %}
                      {{ post.title }}
                    {% endif %}
                
                
                  </td>
                 
                </tr>

                {% else %}
                <tr class="bg-white border-b">
                  <td class="px-6 py-2 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                    {{user.user_name}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                    {{user.money}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                    <a href="{% url 'login' %}" type="button" class="px-6
py-2.5
bg-blue-600
text-white
font-medium
text-xs
leading-tight
uppercase
rounded
shadow-md
hover:bg-blue-700 hover:shadow-lg
focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
active:bg-blue-800 active:shadow-lg
transition
duration-150
ease-in-out">
first Login
                  </a>

                  </td>
                </tr class="bg-white border-b">
                <tr class="bg-white border-b">
                
                <tr class="bg-white border-b">
                  
                  <td colspan="2" class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap text-center">
                    
                    
                    
                    {% if messages %}
                    {% for message in messages %}
                    <div class="bg-indigo-100 rounded-lg py-5 px-6 mb-4 text-base text-indigo-700 mb-3" role="alert">
                      {{ message }}  
                    </div>
                   
                    {% endfor %}
                    {% else %}
                      {{ post.title }}
                    {% endif %}
                
                
                  </td>
                 
                </tr>

                {% endif %}
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 

  

<!-- Modal -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog relative w-auto pointer-events-none">
<div
class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
<div
  class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
  <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">Enter User Information and Amount</h5>
  <button type="button"
    class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
    data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body relative p-4">



  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group mb-6">
        <input type="email" name="name" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput90"
          placeholder="User Email">
      </div>
      <div class="form-group mb-6">
        <input type="number" name="money"  class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput91"
          placeholder="Enter Amount">
      </div>
      <div class="form-group form-check text-center mb-6">
        
      </div>
      <button type="submit" class="
        w-full
        px-6
        py-2.5
        bg-blue-600
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-blue-800 active:shadow-lg
        transition
        duration-150
        ease-in-out">Send Money</button>
    </form>
  </div>


</div>
<div
  class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
  <button type="button" class="px-6
    py-2.5
    bg-purple-600
    text-white
    font-medium
    text-xs
    leading-tight
    uppercase
    rounded
    shadow-md
    hover:bg-purple-700 hover:shadow-lg
    focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-purple-800 active:shadow-lg
    transition
    duration-150
    ease-in-out" data-bs-dismiss="modal">Close</button>

</div>
</div>
</div>
</div>
   

   
    
{% endblock  %}


